*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.counter{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.counter__main{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    width: 300px;
    height: 150px;
    background-color: #009B95;
}
.counter__main-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.counter__main button{
    margin-top: 15px;
    width: 160px;
}
.counter__item{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height: 120px;
    background-color: rgb(65, 142, 165);
    margin-left: 10px;
}
.counter__value{
    display: block;
    width: 100%;
}
button{
    display: block;
    width: 60px;
    height: 30px;
    background-color: #FFB173;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}